<div class="w3-container w3-teal">
<h1>Help Page</h1>
</div>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<div class="w3-container">
<p>This is the Help Page It's not as cool</p>
</div>